<mat-dialog-content>
    <div class="title">Pick Date And Time</div>
    <div fxLayoutGap="10px">
        <mat-form-field>
            <input matInput placeholder="Date" [(ngModel)]="date" [matDatepicker]="myDatepicker">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Time" type="time" [(ngModel)]="time">
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="cancel-button" mat-button mat-dialog-close>Cancel</button>
    <button class="save-button" mat-button (click)="save()">Save</button>
</mat-dialog-actions>