.item-wrapper {
    background-color: #d4d4d4;
    border: solid 1px #888888;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
}
.item-title {
    font-weight: bold;
    align-self: center;
}
.next {
    background-color: #B39DDB;
}
.inactive {
    background-color: #a8a8a8;
}